
<div class="container" ng-controller="CanvassController">
  <div class="row row-content">
    <div class="col-xs-12">
      <h2>{{getTitle()}}</h2>
      
      <uib-tabset active="activeTab">
        <!-- Canvass tab -->
        <uib-tab index="tabs.CANVASS_TAB" heading="1. Canvass" role="presentation">
          <div ng-controller="CanvassCanvassController">
            <div role="tabpanel" class="tab-pane fade in active">
              <form class="form-horizontal" name="canvassForm" role="form" ng-submit="processForm()" novalidate>

                <div class="form-group" ng-class="{ 'has-error' : canvassForm.name.$error.required && !canvassForm.name.$pristine }">
                  <label for="name" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter canvass name"
                           ng-model="canvass.name" ng-disabled="editDisabled" required>
                    <span ng-show="canvassForm.name.$error.required && !canvassForm.name.$pristine" 
                          class="help-block">Canvass name is required.</span>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : canvassForm.description.$error.required && !canvassForm.description.$pristine }">
                  <label for="description" class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="12" id="description" name="description" placeholder="Enter description" ng-model="canvass.description" ng-disabled="editDisabled" required>
                    </textarea>
                    <span ng-show="canvassForm.description.$error.required && !canvassForm.description.$pristine" 
                          class="help-block">Canvass description is required.</span>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : canvassForm.election.$error.required && !canvassForm.election.$pristine }">
                  <label for="election" class="col-sm-2 control-label">Election</label>
                  <div class="col-sm-10">
                    <select id="election" name="election" ng-model="canvass.election" ng-disabled="editDisabled" required>
                      <option ng-repeat="election in elections" value="{{election._id}}">{{election.name}}</option>
                    </select>
                    <span ng-show="canvassForm.election.$error.required && !canvassForm.election.$pristine" 
                          class="help-block">Election selection is required.</span>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error has-feedback' : canvassForm.startDate.$invalid && !canvassForm.startDate.$pristine }">
                  <label for="startDate" class="col-sm-2 control-label">Start Date</label>
                  <div class="col-sm-4">
                    <input type="date" class="form-control" id="startDate" name="startDate" placeholder="Enter canvass date" ng-model="canvass.startDate" ng-disabled="editDisabled" required>
                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                    <span ng-show="canvassForm.startDate.$invalid && !canvassForm.startDate.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="(canvassForm.startDate.$invalid || canvassForm.startDate.$error.required) &&
                                    !canvassForm.startDate.$pristine"
                     class="help-block">Enter a valid start date.</span>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error has-feedback' : canvassForm.endDate.$invalid && !canvassForm.endDate.$pristine }">
                  <label for="endDate" class="col-sm-2 control-label">End Date</label>
                  <div class="col-sm-4">
                    <input type="date" class="form-control" id="endDate" name="endDate" placeholder="Enter canvass date" ng-model="canvass.endDate" ng-disabled="editDisabled" required>
                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                    <span ng-show="canvassForm.endDate.$invalid && !canvassForm.endDate.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="(canvassForm.endDate.$invalid || canvassForm.endDate.$error.required) &&
                                    !canvassForm.endDate.$pristine"
                     class="help-block">Enter a valid end date.</span>
                  </div>
                </div>

                <!-- navigation buttons -->
                <div class="col-sm-offset-2 col-sm-2">
                  <button type="reset" class="btn btn-default btn-sm" ng-disabled="editDisabled">Reset</button>
                </div>
                <div class="col-sm-offset-4 col-sm-1">
                  <button type="button" class="btn btn-danger btn-sm" ng-click="gotoDash()">Cancel</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
                  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="canvassForm.$invalid">Next&nbsp;<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  </button>
                </div>
                <br />
                <br />
              </form>
            </div>
            </div>
        
        </uib-tab>
        <!-- Survey tab -->
        <uib-tab index="tabs.SURVEY_TAB" heading="2. Survey" role="presentation">
          <div ng-controller="CanvassSurveyController">
            <div role="tabpanel" class="tab-pane fade in active">
              <form class="form-horizontal" name="surveyForm" role="form" ng-submit="processForm()" novalidate>

                <div class="form-group" ng-class="{ 'has-error' : surveyForm.name.$error.required && !surveyForm.name.$pristine }">
                  <label for="name" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter survey name"
                           ng-model="survey.name" ng-disabled="editDisabled" ng-change="onSurveyChange()" required>
                    <span ng-show="surveyForm.name.$error.required && !surveyForm.name.$pristine" 
                          class="help-block">Survey name is required.</span>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : surveyForm.description.$error.required && !surveyForm.description.$pristine }">
                  <label for="description" class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="4" id="description" name="description" placeholder="Enter description" ng-model="survey.description" ng-disabled="editDisabled" ng-change="onSurveyChange()" required>
                    </textarea>
                    <span ng-show="surveyForm.description.$error.required && !surveyForm.description.$pristine" 
                          class="help-block">Survey description is required.</span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-8">
                    <div class="list-group">
                      <button type="button" class="list-group-item" ng-repeat="question in survey.questions" ng-class="{active: question.isSelected}" ng-click="toggleQuestionSel(question)">
                        <div class="row">
                          <div class="col-sm-9">
                            <p>{{question.question}}</p>
                          </div>
                          <div class="col-sm-3">
                            <p class="text-right"><span class="label label-default">{{getQuestionTypeName(question.type)}}</span></p>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="btn-group-vertical" role="group">
                      <button type="button" class="btn btn-success" ng-disabled="editDisabled || surveyForm.$invalid" ng-click="openQuestion('new')">New</button>
                      <button type="button" class="btn btn-warning" ng-disabled="selQuestionCnt != 1" ng-click="openQuestion('view')">View</button>
                      <button type="button" class="btn btn-warning" ng-disabled="(selQuestionCnt != 1) || editDisabled" ng-click="openQuestion('edit')">Update</button>
                      <button type="button" class="btn btn-danger" ng-disabled="(selQuestionCnt < 1) || editDisabled" ng-click="questionDelete()">Delete</button>
                      <br/><br/>
                      <button type="button" class="btn btn-default" ng-click="questionSelClear()">Clear</button>
                      <button type="button" class="btn btn-default" ng-disabled="editDisabled" ng-click="questionSelAll()">All</button>
                    </div>
                  </div>
                </div>


                <!-- navigation buttons -->
                <div class="col-sm-1">
                  <button type="button" class="btn btn-primary btn-sm" ng-click="prevTab()" ng-disabled="surveyForm.$invalid"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp;Prev</span>
                  </button>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                  <button type="reset" class="btn btn-default btn-sm" ng-disabled="editDisabled">Reset</button>
                </div>
                <div class="col-sm-offset-4 col-sm-1">
                  <button type="button" class="btn btn-danger btn-sm" ng-click="gotoDash()">Cancel</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
                  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="surveyForm.$invalid">Next&nbsp;<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  </button>
                </div>
                <br />
                <br />
              </form>
            </div>
          </div>
        </uib-tab>
        <!-- Addresses tab -->
        <uib-tab index="tabs.ADDRESS_TAB" heading="3. Addresses" role="presentation">
          <div ng-controller="CanvassAddressController">
            <div role="tabpanel" class="tab-pane fade in active">
              <form class="form-horizontal" name="addressForm" role="form" ng-submit="processForm()" novalidate>

                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="col-sm-5">
                      <h4>Unassigned</h4>
                      <p>Filter by: {{unassignedAddrFilterStr}}</p>
                      <p>Showing: {{unassignedAddr.filterCount}} of {{dbAddrCount}}</p>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-sm-5">
                      <h4>Assigned</h4>
                      <p>Filter by: {{assignedAddrFilterStr}}</p>
                      <p>Showing: {{assignedAddr.filterCount}} of {{assignedAddr.count}}</p>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-5">
                      <!-- unassigned pager -->
                      <div ng-controller="CanvassUnassignedAddressController">
                        <div ng-include="'canvasses/pager.element.html'"></div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <p>Items per page</p>
                      <select id="addrperpage" name="addrperpage" ng-change="setPerPage([assignedAddrPager,unassignedAddrPager],perPage)" ng-model="perPage"
                      ng-options="perPage for perPage in perPageOpt">
                      </select>
                    </div>

                    <div class="col-sm-5">
                      <!-- assigned pager -->
                      <div ng-controller="CanvassAssignedAddressController">
                        <div ng-include="'canvasses/pager.element.html'"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-5">
                      <!-- unassigned filter -->
                      <div ng-controller="CanvassUnassignedAddressController">
                        <div ng-include="'canvasses/filter.sort.element.html'"></div>
                      </div>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-sm-5">
                      <!-- assigned filter -->
                      <div ng-controller="CanvassAssignedAddressController">
                        <div ng-include="'canvasses/filter.sort.element.html'"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                <!-- unassigned list -->
                  <div class="col-sm-5">
                    <div ng-controller="CanvassUnassignedAddressController">
                      <div ng-include="'canvasses/address.element.html'"></div>
                    </div>
                  </div>

                  <!-- add/remove buttons -->
                  <div class="col-sm-2">
                    <div class="btn-group-vertical" role="group">
                      <button type="button" class="btn btn-primary btn-sm" ng-click="updateList(unassignedAddr, assignedAddr)" ng-disabled="(unassignedAddr.selCount < 1) || editDisabled">Add&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
                      </button>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="updateList(assignedAddr, unassignedAddr)" ng-disabled="(assignedAddr.selCount < 1) ||editDisabled"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;Remove</span>
                      </button>
                    </div>
                  </div>

                  <!-- assigned list -->
                  <div class="col-sm-5">
                    <div ng-controller="CanvassAssignedAddressController">
                      <div ng-include="'canvasses/address.element.html'"></div>
                    </div>                    
                  </div>
                </div>

                <!-- navigation buttons -->
                <div class="col-sm-1">
                  <button type="button" class="btn btn-primary btn-sm" ng-click="prevTab()" ng-disabled="addressForm.$invalid"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp;Prev</span>
                  </button>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                  <button type="reset" class="btn btn-default btn-sm" ng-disabled="editDisabled">Reset</button>
                </div>
                <div class="col-sm-offset-4 col-sm-1">
                  <button type="button" class="btn btn-danger btn-sm" ng-click="gotoDash()">Cancel</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
                  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="addressForm.$invalid">Next&nbsp;<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  </button>
                </div>
                <br />
                <br />
              </form>



            </div>
          </div>
        </uib-tab>
        <!-- Canvasser tab -->
        <uib-tab index="tabs.CANVASSER_TAB" heading="4. Canvassers" role="presentation">
          <div ng-controller="CanvassCanvasserController">
            <div role="tabpanel" class="tab-pane fade in active">
              <form class="form-horizontal" name="canvasserForm" role="form" ng-submit="processForm()" novalidate>

                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="col-sm-5">
                      <h4>Unassigned</h4>
                      <p>Filter by: {{unassignedCanvasserFilterStr}}</p>
                      <p>Showing: {{unassignedCanvasser.filterCount}} of {{unassignedCanvasser.count}}</p>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-sm-5">
                      <h4>Assigned</h4>
                      <p>Filter by: {{assignedCanvasserFilterStr}}</p>
                      <p>Showing: {{assignedCanvasser.filterCount}} of {{assignedCanvasser.count}}</p>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-5">
                      <!-- unassigned pager -->
                      <div ng-controller="CanvassUnassignedCanvasserController">
                        <div ng-include="'canvasses/pager.element.html'"></div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <p>Items per page</p>
                      <select id="userperpage" name="userperpage" ng-change="setPerPage([assignedCanvasserPager,unassignedCanvasserPager],perPage)" ng-model="perPage"
                      ng-options="perPage for perPage in perPageOpt">
                      </select>
                    </div>

                    <div class="col-sm-5">
                      <!-- assigned pager -->
                      <div ng-controller="CanvassAssignedCanvasserController">
                        <div ng-include="'canvasses/pager.element.html'"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <!-- unassigned filter -->
                    <div class="col-sm-5">
                      <div ng-controller="CanvassUnassignedCanvasserController">
                        <div ng-include="'canvasses/filter.sort.element.html'"></div>
                      </div>
                    </div>

                    <div class="col-sm-2"></div>

                    <!-- assigned filter -->
                    <div class="col-sm-5">
                      <div ng-controller="CanvassAssignedCanvasserController">
                        <div ng-include="'canvasses/filter.sort.element.html'"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- unassigned list -->
                  <div class="col-sm-5">
                    <div ng-controller="CanvassUnassignedCanvasserController">
                      <div ng-include="'canvasses/canvasser.element.html'"></div>
                    </div>
                  </div>

                  <!-- add/remove buttons -->
                  <div class="col-sm-2">
                    <div class="btn-group-vertical" role="group">
                      <button type="button" class="btn btn-primary btn-sm" ng-click="updateList(unassignedCanvasser, assignedCanvasser)" ng-disabled="unassignedCanvasser.selCount < 1">Add&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
                      </button>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="updateList(assignedCanvasser, unassignedCanvasser)" ng-disabled="assignedCanvasser.selCount < 1"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;Remove</span>
                      </button>
                    </div>
                  </div>

                  <!-- assigned list -->
                  <div class="col-sm-5">
                    <div ng-controller="CanvassAssignedCanvasserController">
                      <div ng-include="'canvasses/canvasser.element.html'"></div>
                    </div>                    
                  </div>
                </div>

                <!-- navigation buttons -->
                <div class="col-sm-1">
                  <button type="button" class="btn btn-primary btn-sm" ng-click="prevTab()" ng-disabled="canvasserForm.$invalid"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp;Prev</span>
                  </button>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                  <button type="reset" class="btn btn-default btn-sm" ng-disabled="editDisabled">Reset</button>
                </div>
                <div class="col-sm-offset-4 col-sm-1">
                  <button type="button" class="btn btn-danger btn-sm" ng-click="gotoDash()">Cancel</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
                  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="canvasserForm.$invalid">Next&nbsp;<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  </button>
                </div>
                <br />
                <br />
              </form>



            </div>
          </div>
        </uib-tab>

        <uib-tab index="tabs.ASSIGNMENT_TAB" heading="5. Assignments" role="presentation">
          <div ng-controller="CanvassAssignmentController">
            <div role="tabpanel" class="tab-pane fade in active">
              <form class="form-horizontal" name="assignmentForm" role="form" ng-submit="processForm()" novalidate>

                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="col-sm-5">
                      <h4>Addresses</h4>
                      <p>Filter by: {{allocatedAddrFilterStr}}</p>
                      <p>Showing: {{allocatedAddr.filterCount}} of {{allocatedAddr.count}}</p>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-sm-5">
                      <h4>Canvassers</h4>
                      <p>Filter by: {{allocatedCanvasserFilterStr}}</p>
                      <p>Showing: {{allocatedCanvasser.filterCount}} of {{allocatedCanvasser.count}}</p>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-5">
                      <!-- allocated address pager -->
                      <div ng-controller="CanvassAssignmentAddressController">
                        <div ng-include="'canvasses/pager.element.html'"></div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <p>Items per page</p>
                      <select id="allocperpage" name="allocperpage" ng-change="setPerPage([allocatedCanvasserPager,allocatedAddrPager],perPage)" ng-model="perPage"
                      ng-options="perPage for perPage in perPageOpt">
                      </select>
                    </div>

                    <div class="col-sm-5">
                      <!-- allocated canvasser pager -->
                      <div ng-controller="CanvassAssignmentCanvasserController">
                        <div ng-include="'canvasses/pager.element.html'"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <!-- allocated address filter -->
                    <div class="col-sm-5">
                      <div ng-controller="CanvassAssignmentAddressController">
                        <div ng-include="'canvasses/filter.sort.element.html'"></div>
                      </div>
                    </div>

                    <div class="col-sm-2"></div>

                    <!-- allocated canvasserfilter -->
                    <div class="col-sm-5">
                      <div ng-controller="CanvassAssignmentCanvasserController">
                        <div ng-include="'canvasses/filter.sort.element.html'"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- allocated address list -->
                  <div class="col-sm-5">
                    <div ng-controller="CanvassAssignmentAddressController">
                      <div ng-include="'canvasses/address.element.html'"></div>
                    </div>
                  </div>

                  <!-- show/assign/unassign buttons -->
                  <div class="col-sm-2">
                    <div class="btn-group-vertical" role="group">
                      <button type="button" class="btn btn-primary btn-sm" ng-click="updateList('show')" ng-disabled=" (allocatedCanvasser.selCount == 1)">Show&nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="updateList('alloc')" ng-disabled="(allocatedAddr.selCount < 1) || (allocatedCanvasser.selCount != 1)">Allocate&nbsp;<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="updateList('unalloc')" ng-disabled="(allocatedAddr.selCount < 1) && (allocatedCanvasser.selCount < 1)">Unallocate&nbsp;<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>

                  <!-- allocated canvasser list -->
                  <div class="col-sm-5">
                    <div ng-controller="CanvassAssignmentCanvasserController">
                      <div ng-include="'canvasses/canvasser.element.html'"></div>
                    </div>                    
                  </div>
                </div>

                <!-- navigation buttons -->
                <div class="col-sm-1">
                  <button type="button" class="btn btn-primary btn-sm" ng-click="prevTab()" ng-disabled="assignmentForm.$invalid"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp;Prev</span>
                  </button>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                  <button type="reset" class="btn btn-default btn-sm" ng-disabled="editDisabled">Reset</button>
                </div>
                <div class="col-sm-offset-4 col-sm-1">
                  <button type="button" class="btn btn-danger btn-sm" ng-click="gotoDash()">Cancel</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
                  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="assignmentForm.$invalid">Done&nbsp;<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  </button>
                </div>
                <br />
                <br />
              </form>



            </div>
          </div>
        </uib-tab>
      </uib-tabset>

  </div>
</div>  <!-- end of container -->
